a:hover {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
#section2{
  height: 500px;
}
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 105vh;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 2px;
  position: absolute;
  transform: all 0.3s;
  background: white;
  z-index: 9;
  top: 0px;
  width: 100%;
}

.nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  display: flex;
}

.nav ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25rem 0;
  margin: 10px 1.8rem;
  text-transform: uppercase;
}

.nav ul li.logo .black {
  display: none;
}

.nav ul li.logo a {
  margin: 0 4rem;
}

.nav-icon {
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}
.nav-icon span {
  background: #333;
  widows: 30px;
  height: 1px;
  display: block;
  transition: 300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
  width: 20px;
  margin: 0 auto;
}
.nav-icon span:nth-child(2) {
  margin: 5px 0;
  width: 32px;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
  width: 30px;
}

.full-nav {
  background: #f1c30f;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* width changed from 100% to 101.5% to optimize the scrollbar*/
  width: 101.5%;
  padding: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
}

.full-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

.full-nav .logo {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.nav2 {
  display: flex;
  justify-content: center;
}

.nav2 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.nav2 ul li {
  display: flex;
  flex: 50%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 10px solid #f1c30f;
  border-right: 10px solid #f1c30f;
  transition: all 0.5s;
}

.nav2 ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  color: #18191d;
}

.nav2 ul li a span {
  color: #b9b9b9;
}

.nav2 ul li:hover {
  background-color: #ff1637;
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span {
  color: white;
}

.social-icons a {
  color: white;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
}

.social-icons a:hover i {
  color: #000;
  margin-top: -10px;
  border-color: #000;
}
.social-icons a:hover {
  color: #000;
  margin-top: -10px;
  border-color: #000;
}
ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.corner-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 0 0 0 120px;
  z-index: 2;
}

.nav-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.nav-close span {
  background: #18191d;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}

.nav-close span:nth-child(1) {
  transform: rotate(45deg);
}
.nav-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.nav.sticky {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.nav.sticky a {
  color: #18191d;
}

.nav.sticky ul li.logo .white {
  display: none;
}
.nav.sticky ul li.logo .black {
  display: inline-block;
}

.nav.sticky .nav-icon span {
  background: #18191d;
}

video#herovideo {
  width: 100%;
}

.bx-wrapper .social-icons a {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: #000;
  border-radius: 0px;
}

.bx-wrapper .social-icons a i {
  position: relative;
  bottom: 7px;
}

.vidContent {
  position: absolute;
  top: 290px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.vidContent h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vidContent p {
  font-family: "Roboto Condensed", sans-serif;
}

#vidBtn {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background: white;
  color: #333;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
/* no pulse stopped when you put the cursor on the button
#vidBtn{
  background: white;
  color:black;
  text-decoration: none;
}
*/
#vidBtn:hover {
  background: white;
  color: black;
  animation: none;
  text-decoration: none;
}

.social-icons a {
  color: #333 !important;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: white !important;
  
}

ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.bx-pager .bx-default-pager {
  margin-top: 50px !important;
}

#about-us .carousel-indicators {
  position: static;
  padding-top: 30px;
}

/*responsive*/
#about-us2 .carousel-indicators {
  position: static;
  padding-top: 30px;
}

#about-us .carousel-indicators li {
  background-color: black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
/*responsive*/
#about-us2 .carousel-indicators li {
  background-color: black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.carousel-control-prev-icon {
  background-image: url(../img/left-arrow.svg);
  padding: 25px;
}

.carousel-control-next-icon {
  background-image: url(../img/right-arrow.svg);
  padding: 25px;
}

#about-us .carousel-control-next,
#about-us .carousel-control-prev {
  width: auto;
}

/*responsive*/
#about-us2 .carousel-control-next,
#about-us2 .carousel-control-prev {
  width: auto;
}

#about-us .carousel-control-next {
  right: -35px;
}
#about-us .carousel-control-prev {
  left: -35px;
}

/*responsive*/

#about-us2 .carousel-control-next {
  right: -35px;
}
#about-us2 .carousel-control-prev {
  left: -35px;
}

#about-us h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}
/*responsive*/
#about-us2 h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}

p.lead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #f7cc4b !important;
  font-weight: bold;
}

h4.text-dark {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
}

p.text-secondary {
  font-family: "Roboto Condensed", sans-serif;
  color: darkgray;
}

#contents {
display: block;
  margin-top: -425px;
}
/*responsive*/
#contents2 {
  display: none; /*on for smartphones*/
  margin-top: -565px;
}

/*------- SECTION : OUR WORK --------*/

#work h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: grey !important;
}

.row.no-gutters [class*=col-] {
  padding: 0;
  margin-top: -21px;
  margin-right: -0.2px;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  transition: transform 0.5s ease;
}

.img-wrapper img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.container-fluid {
  width: 85%;
  padding-left: 0;
  padding-right: 0;
}

#team {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #535353;
  padding-top: 50px;
  background-color: white;
}

#team h5 {
  font-size: 1.2rem;
  font-weight: 599;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

}

#team h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 599;
  color: grey;
  line-clamp: 650px;
  margin: 0 auto 1.5rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;

}

#team p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

}

a:hover {
  text-decoration: none;
}

.designation {
  font-size: 17px;
}

.team-social li {
  display: inline-block;
}

.team-social li a {
  font-size: 14px;
  color: #18191d;
  height: 38px;
  width: 38px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 50%;

}

.team-img {
  position: relative;
  
}

.team-social.white-bg {
  background-color: white;

}

.team-coverflow {
  position: relative;
  overflow: hidden;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  max-width: 370px;
  background: white;

}

.team-coverflow .team-text {
  text-align: center;
  font-size: 14px;
  padding: 2rem 0 2.5re 0;

}

.team-coverflow .team-text h4 {
  font-size: 1.7rem;

}

.swiper-slide-active .team-coverflow:hover .team-box-content {
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  bottom: 0;
}

.team-box-content {
  background-color: #f1c30f;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 20px 0;
  bottom: -20%;
  z-index: 1;
  transition: all linear 0.4s;
  }

.team-coverflow .team-img {
  overflow: hidden;
  width: 100%;

}

.swiper-slide-active .team-coverflow:hover img {
  transition: scale(1.1);

}

.team-progress {
  
  padding-bottom: 1rem;

}

.team-progress .progress-item:not(:last-child) {
  margin-bottom: 1.7rem;

}

.team-progress .progress {
  height: 12px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #eaeaea;

}

.team-progress .progress-item .count {
  font-weight: 500;
  
}

.team-progress .progress-bar {
  height: 100%;
  border-radius: 50px;
  background: #f1c30f;

}

.w-77 {
  width: 77% !important;
}

.w-82 {
  width: 82% !important;
}

.w-93 {
  width: 93% !important;
}

.team-member-slider {
  padding-bottom: 165px;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  
}

.slider-arrows {
  border-radius: 50px;
  background: #f1c30f;
  color: white;
  font-weight: bold;
  width: 45px;
  height: 45px;
  line-height: 40px;
  transition: 1s;
  border: 4px solid #f1c30f;
}

.team-member-slider .swiper-slide-next {
  /*transform: scale(1.1) translate3d(-25%, 0px, -155.962px) rotateX(0deg)
    rotateY(-2.9808deg) !important;*/
  padding-right: 15px;
  cursor: pointer;
}

.team-member-slider .swiper-slide-prev {
  /*transform: scale(1.1) translate3d(25%, 0px, -155.962px) rotateX(0deg)
    rotateY(2.9808deg) !important;*/
  padding-left: 15px;
  cursor: pointer;
}

.team-member-slider .swiper-slide-active {
  transform: translateY(25%) !important;
  transition: 300ms;
  opacity: 1 !important;
}

.team-member-slider .swiper-slide {
  opacity: 0.5;
}

.services{
  background-image: url(/img/parallax4.jpg);
  padding-top: 130px;
  padding-bottom: 130px;
  background-attachment: fixed;

}

.services h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services p{
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services a{
  padding: 15px 30px;
  background: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 13px;
  transition: all 0.5s ease-in;
  border: 2px solid white;
}

.services a:hover{
  padding: 15px 30px;
  background: white;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  color: #333;
  font-size: 13px;

}

/*Section: CREATIVE PORTFOLIO*/

#work{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #535353;
  padding-top: 50px;
  overflow-x: hidden;

}

#work h5{
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  
}

#work h2{
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 610;
  color: #18191d;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1.5rem;
  font-family: 'Oswald', sans-serif;

}

#work p.desc{
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;

}

#work .cbp-filter-style:after{
  content:"";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f1c30f;
  position: relative;
  left: 12px;
  top: -2.5;
  transform: rotateX(45deg);

}

#work .cbp-l-filters-alignCenter{
  margin-bottom: 40px;

}

#work .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active{
  color: #f1c30f;
  
}

#work .cbp-l-filters-alignCenter .cbp-filter-counter{
  background-color: #f1c30f;
}
#work .cbp-l-filters-alignCenter .cbp-filter-counter{
  background-color: #f1c30f;
}
#work .cbp-l-filters-alignCenter .cbp-filter-counter:after{
  border-top: 4px solid #f1c30f;
}

#work .cbp-l-filters-alignCenter .cbp-l-filters-item{
  color: #18191d;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;

}

#work .cbp-caption-zoom .cbp-caption-activeWrap{
  opacity: 0;
  top: 5%;
  left: 5%;
  bottom: 5%;
  visibility: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.88);
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.79.1.25);

}

#work .cbp-caption-active .cbp-caption-activeWrap{
  background: rgba(255, 255, 255, 0.88);
  width: 0;
  position: absolute;
  z-index: 1;
  height: 90%;

}

#work .cbp-item:hover .cbp-caption-activeWrap{
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.79, 1.25);

}

#work .cbp-caption-activeWrap i{

  border-radius: 50px;
  background: #f1c30f;
  color: white;
  font-weight: bold;
  width: 45px;
  height: 45px;
  line-height: 40px;
  border: 5px solid #f1c30f;

}





/* ------responsive smartphone - 1er section--------*/ 

@media only all and (max-width: 823px){
  
 #section2{
  height: 450px;
}
  .header {
  width: 100%;
  height: 100%;
  padding-top: 6%;
}

.nav ul li a {
  font-size: 0.0em;
  color: #333;
  padding: 5.15% 0;
  margin: 0 2%;
}
.nav-icon {
  position: absolute;
  top: 40%;
  right: 5%;
  cursor: pointer;
}
video#herovideo {
  padding-top: 15%;
  padding-bottom: 60%;
  width: 100%;

}
.vidContent {
  position: absolute;
  top: 20%;
  color: #6c757d !important;
  width: 100%;
  padding-right: 8%;
  font-size: 53%;
}
.vidContent h1 {
  padding-top: 50%;
  font-size: 250%;
  font-weight: bold;
  color:#6c757d !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vidContent p {
  font-size: 180%;
}
.social-icons a {
  visibility: hidden;
}
#vidBtn {
  
  font-size: 180%;
  padding: 3% 5%;
  margin-top: 0%;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

/*2ª section*/

#contents {
  display: none;
  
}
#contents2 {
  display: block;
  width: 100%;
  margin-top: -95%;
}

#contents2 .lead{
  font-size: 125%;
}

#about-us2 h3 {
  font-size: 200%;
}

#about-us2 .container{
  margin-top: 5%;
  
}

#about-us2 .carousel-control-next {
  top: -35%;
  right: 5%;
 
}
#about-us2 .carousel-control-prev {
  top: -35%;
  left: 5%;
  
}
}
p.text-secondary {
  font-size: 110%;
  padding: 5%;
}

/*3er section*/
/*4th section*/
#team h5 {
  font-size: 125%;
  
}
#team h2 {
  font-size: 200%;
  

}
.desc{
  font-size: 100%;
}

.team-coverflow {
 
  max-width: 100%;

}

/*TINY SMARTPHONES*/
@media only all and (max-width: 370px){
 #vidBtn {
   visibility: hidden;
 } 
}

